{% extends "layout.html" %} {% block content %}
<div class = "map-container">
	<div id="map-canvas">
	    <p>Words
	    </p>
	</div>
</div>
<div class="rightcolumn">
    <div class="checkbox">
        <h5> Hotel</h5>
        <select class="hotels">
            {% for hotel in hotels %}
            <option value="{{hotel.name}}">{{hotel.name}}</option>
            {% endfor %}
        </select>
        <div class = "circle-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        <h5> Restaurant</h5>
        <select class="restaurant">
            {% for restaurant in restaurants %}
            <option value="{{restaurant.name}}">{{restaurant.name}}</option>
            {% endfor %}
        </select>
        <div class = "circle-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        <h5> Things to Do</h5>
        <select class="thingsToDo">
            {% for thingToDo in thingsToDo %}
            <option value="{{thingToDo.name}}">{{thingToDo.name}}</option>
            {% endfor %}
        </select>
        <div class = "circle-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
    </div>
    <div class="summarybox">
        <div class='day'>
            <h4>Day2</h4s>
        </div>
	    <div class = "summary-nav-bar">
	    	<ul class = "summary-nav-list">
		    	<li class= "nav-list-items"> <div class = "circle-btn">1</div></li>
		    	<li class= "nav-list-items"><div class = "circle-btn">2</div> </li>
		    	<li class= "nav-list-items"><div class = "circle-btn">3</div></li>
		    	<li class= "nav-list-items"><div class = "circle-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div></li>
	    	</ul>
	    </div>
        <div class="bottom-right-box">
        <div class="summary">
            <h5>My Hotel</h5>
            <ul class = "list-group">
                <div>Ritz Carlton</div> <div class = "circle-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </ul>
             <h5>My Restaurants</h5>
            <ul class = "list-group">
                <div>The Capitol Grille</div> <div class = "circle-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </ul>
            <h5>My Things To Do</h5>
            <ul class = "list-group">
                <div>Raquetball</div> <div class = "circle-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></br>
                <div>Hiking</div>   <div class = "circle-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></br>
                <div>Going to Restaurant</div>   <div class = "circle-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></br>
            </ul>
        </div>
        </div>
    </div>
</div>
{% endblock %}