body {
  box-sizing: border-box;
  background-color: #E0FEFF;
  font-family: Georgia; }
  body h5 {
    font-style: italic; }

.circle-btn {
  font-style: italic;
  padding-left: 1px;
  display: inline-block;
  padding-top: 3px;
  cursor: pointer;
  background-color: white;
  text-align: center;
  font-size: 10px;
  border: 1px black solid;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0 1px 1px #174C52; }
  .circle-btn:active {
    box-shadow: 0 0 0; }

.navbar {
  border-radius: 0%;
  padding: 0;
  background-color: #4F8487;
  border: 1px solid black; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #E0FEFF; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: #E8A1CF; }

#map-canvas {
  margin-left: 10px;
  border: 1px solid black;
  width: 67vw;
  background-color: black;
  float: left;
  height: 90vh;
  margin-top: 10px; }

.navbar {
  margin-bottom: 0px; }

.rightcolumn {
  padding-right: 10px;
  width: 30vw;
  float: right;
  background-color: #E0FEFF; }
  .rightcolumn .checkbox {
    top: 0;
    border-radius: 5px; }
    .rightcolumn .checkbox select, .rightcolumn .checkbox option {
      margin-left: 5%;
      width: 80%; }
  .rightcolumn .summarybox {
    padding-top: 20px;
    border-radius: 5px;
    clear: both; }
    .rightcolumn .summarybox .summary-nav-bar {
      z-index: 5;
      border-radius: 5px 5px 0 0;
      border-bottom-width: 0px;
      height: 50px;
      background-color: #4F8487;
      width: 100%; }
      .rightcolumn .summarybox .summary-nav-bar .summary-nav-list {
        padding-left: 5px; }
      .rightcolumn .summarybox .summary-nav-bar .summary-nav-list .nav-list-items {
        padding-top: 10px;
        padding-right: 5px;
        list-style: none;
        display: inline-block; }
        .rightcolumn .summarybox .summary-nav-bar .summary-nav-list .nav-list-items .circle-btn {
          width: 30px;
          height: 30px;
          font-size: 14px; }
    .rightcolumn .summarybox .summary {
      padding-left: 10%;
      z-index: 0;
      height: 276px; }
      .rightcolumn .summarybox .summary .li {
        font-size: 12px; }
      .rightcolumn .summarybox .summary .list-group div {
        display: inline-block; }
        .rightcolumn .summarybox .summary .list-group div.circle-btn {
          padding-top: 0px;
          height: 15px;
          width: 15px;
          padding-right: 2px; }
